body,html {
  height : 100%;
  margin:0;
  padding:0;
}

.box {
  flex-direction : center;
  background-color:grey;
  margin : 100px;
  color : white;
  text-align : center;
  font-size : 30px;
  height : 100px;
  width : 300px;
  line-height: 90px;
  border-radius : 45px 45px;
}
.box:hover {
  box-shadow : 5px 5px 5px 5px silver;
}
.box1{
  margin : 150px;
  width : 200px;
  height : 200px;
  color : white;
  font-size : 30px;
  text-align : center;
  line-height : 200px;
  background-color : red;
}
.box1:hover {
  border-style : solid;
  border-color : black;
  border-width : 10px;
  transform : rotate(135deg);
}
